.desk{
    background-color: #D5E1EF;   
    height: 100vh;
    width: 100vw;
    padding-top: 100px ;
}

.container{
    background-color: #ffffff;
    width: 320px;
    height: 499px;
    border-radius: 20px;
    margin: 0 auto;
    padding-top: 16px ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #2C7DFA;
    
}

.blue{
    background-color: #2C7DFA;
    width: 188px;
    height: 188px;
    border-radius: 10px ;
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 24px;

   
   
}

.text{
    color: #000000;
    font-weight:bold;
    font-size: large;
    margin: 20px;
    padding: 2px;
    text-align: center;
}

.par{
    color: #000000;
    margin: 20px;
    text-align: center;
    
}

.img{
    margin: 0 auto;
    max-width: 100%; 
    height: auto; 
    /* სიმართლე გითხრა აქ ფოტოს გაცენტრვაზე ძან ვიწვალე :( AI დავიხმარე*/
}